* {
    color: #70a6fd;

}

.display-4 {
    color: #CC7832;
}

img {
    width: 100%;
    height: auto;
}

.container-serie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.serie {
    margin-left: 20%;
}

.container-seasons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    align-items: start;
    position: relative;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}


.container-seasons .card-title {
    color: red;
}


.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    align-items: start;
    position: relative;
    width: 100%;

}

.card-text {
    color: #0a0a0a !important;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(19, 12, 146) 0%, rgba(129, 12, 40, 1) 55%, rgba(50, 19, 12, 146) 100%);

}

body > .container {
    min-height: 100vh;
}

.pagination {
    display: inline-block;
    justify-content: center;
}

.pagination a {
    color: white;
    font-size: 20px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.current {
    color: yellow;
!important;
}

.navbar {
    font-size: 20px;
}

.title {
    display: flex;
    justify-content: center;
}

.banner {
    background-image: url("https://lukebrown.dev/images/blog/banner-with-gradient.png");
    background-size: 100% 100%;
}


.form-serie {
    background-color: #36393e;
    border-radius: 25px;
    max-width: 90%;
    margin-left: 10%;
    margin-right: 10%;
}

form {
    display: flex;
    justify-content: space-around;
    font-size: 15px;

}

.backdrop {
    position: absolute;
    background-position: 100%;
}

.bg-image {
    background-position: 100% 100%;
}


.btn {
    background-color: #70a6fd !important;
}