{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
<header>
    <nav class="navbar navbar-light bg-light">
        <a  class="nav-brand" href="{{ path('index') }}">Acceuil</a>
        <a class="nav-brand" href="#">Gestion Crud</a>
    </nav>
    <div class="jumbotron jumbotron-fluid banner">
            <h1 class="display-4 title">Tv Show club</h1>
    </div>

</header>
{% endblock %}
